<table class="table">
<tbody>
	{%- set prev_year = 1900 %}
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="date">
				{% if entry.fields['year'] != prev_year %}
				<big><strong>{{ entry.fields['year'] }}</strong></big><br />
				{% endif %}
				{%- set prev_year = entry.fields['year'] %}
				{{ entry.fields['month']|monthname }}
			</span>

		</td>
		<td>
			<span class="venuetype">
			{%- if entry|venue_type == "Conference" %}
			<img src="img/bib_icon/conference.png" style="width:100px"/>
			{%- elif entry|venue_type == "Journal" %}
			<img src="img/bib_icon/journal.png" style="width:100px"/>
			{%- elif entry|venue_type == "Book Chapter" %}
			<img src="img/bib_icon/bookchapter.png" style="width:100px"/>
			{%- elif entry|venue_type == "Workshop" %}
			<img src="img/bib_icon/workshop.png" style="width:100px"/>
			{%- else %}
			{{ entry|venue_type -}}
			{%- endif %}
			</span><br/>
		</td>
		<td class="publication">
			
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="venue" style="font-style: italic;">{{ entry|venue -}}</span>.
			{%- if entry.fields['note'] %}
			<br/><span class="note" style="font-weight: bold;">
			{{ entry.fields['note']|escape }}.
			</span>
			{%- endif %}
			<br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).items() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
				{%- if entry.fields['abstract'] %}
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_{{entry.fields['key']}}').slideToggle('fast');return false;">abstract</a>]
				{%- endif %}
			</span>
			{%- if entry.fields['abstract'] %}
			<div id="abstract_{{entry.fields['key']}}" class="abstract">
			{{ entry.fields['abstract'] |escape }}
			</div>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
